body {
    font-family: times;
    font-size: 12pt;
}

p {
  line-height: 2;
}

h1, #title2, #authors {
  text-align: center;
}
h5 {
  font-weight: bold;
}

#map1 {
  display:block;
  margin: auto;
}

h6 {
  text-align: left;
  font-size: 12pt;
  color: #999999;
  line-height: 1;
}